includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - config
        - tests
        - database
        - routes

    # The level 9 is the highest level
    level: 0

    excludePaths:
        - ./vender

    checkMissingIterableValueType: false
